@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components{
    body{
        @apply bg-background text-textColor;
    }
    img{
        @apply w-full h-full object-cover;
    }
    .highlight-cover{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }
    .highlight-cover:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    }

    /* Nav */
    .nav-item{
        @apply relative p-0.5 font-semibold before:absolute before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:h-0.5 before:w-0 before:bg-inherit hover:before:w-full focus:before:w-full before:transition-all before:ease-in before:duration-200;
    }

    .nav-item.active{
        @apply before:w-full
    }

    .nav-mobile{
        @apply hover:text-primaryColor transition-all ease-in duration-200;
    }

    .nav-mobile.active{
        @apply text-primaryColor;
    }


    /* Buttons */
    .primary-btn{
        @apply w-fit inline-flex items-center justify-center gap-3 py-3 px-8 font-bold truncate text-textColor bg-primaryColor border-2 border-primaryColor rounded-2xl;
    }

    .primary-btn > *{
        @apply shrink-0;
    }

    .secondary-btn{
        @apply w-fit inline-flex items-center justify-center gap-3 py-3 px-8 font-bold truncate text-textColor bg-transparent border-2 border-primaryColor rounded-2xl;
    }

    .secondary-btn > *{
        @apply shrink-0;
    }
    
    .loader{
        @apply flex items-center gap-4 before:h-5 before:w-5 before:border-4 before:border-gray-100/50 before:border-b-inherit before:border-l-inherit before:rounded-full before:animate-spin
    }

    /* Forms */
    input{
        @apply bg-transparent w-full focus:outline-none text-inherit px-6 py-2
    }
    input[type=submit]{
        @apply cursor-pointer;
    }
    .form-input{
        @apply inline-block w-full px-6 py-3 text-black bg-white rounded-2xl;
    }
    .form-input input{
        @apply p-0
    }
}